
body {
  background-image: url(Fotos/violeta.png);
  background-color: #5d59a5;
  margin-left: 2em;
  margin-right: 2em;

}

#primero {
  background-color: #a4c5e9;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-top: -1.4em;
  text-shadow: 0.25em -0.05em 0.20px white;
  color: #5d59a5;

}

.segundo {
  background-color: #a4c5e9;
  padding-bottom: 2em;
  margin-top: -1em;
  padding-top: 0.1em;

}

.rotao {
  background-color: #ffff;
  margin-top: 1em;
  padding: 0.5em;
}

.rotao {
  display: table;
  clear: both;
  content: "";
}

.image {
  border: thin solid black;
  padding: 0.5em;
  float: left;
}
